*{
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.8
}

.top-navbar{
    background-color: black;
    padding-left: 75%
}
.top-navbar a{
    margin: 0 10;
    text-decoration: none;
    color: rgba(247, 173, 14)
}

.page-navbar{
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50;
    width: 100%;
    background-color: rgba(247, 173, 14);
    padding-left: 20;
    text-align: center center
}
.page-navbar .nav-brand{
    font-size: 25;
    font-weight: 900;
    font-style: italic;
    color: rgba(48, 47, 47, 0.993)
}

.page-navbar a{
    color: gray;
    font-weight: 500;
    text-decoration: none;
    margin:  20;
}
.page-navbar a:hover{
    color: black
}

.page-navbar-div{
    float: left;
}

.page-header-image{
    float: left;
}

.page-header-description{
    font-size: 1.5rem;
    font-style: oblique
}

.page-main-container{
   /* margin-top: 50 */
    /* background-image:  no repeat center center  url('images/homeHead.jpg'); */
}

.page-body{
    clear: both;

}

.page-body-services-row2-column2-image{
    width: auto
}
/* .page-body-services{
    
} */

.page-body-services-row1-column1{
    margin: 2rem;
    background: rgba(0, 0, 0, 0.712);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.308), 0 2px 2px 0px rgba(0, 0, 0, 0.301);
    border: 0;
    border-radius: 1px;
    width: auto;   
}
.page-body-services-row1-column2{
    margin: 2rem;
    background: rgba(0, 0, 0, 0.712);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.308), 0 2px 2px 0px rgba(0, 0, 0, 0.301);
    border: 0;
    border-radius: 1px;
    width: auto   
}
.page-body-services-row1-column3{
    margin: 2rem;
    background: rgba(0, 0, 0, 0.712);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.308), 0 2px 2px 0px rgba(0, 0, 0, 0.301);
    border: 0;
    border-radius: 1px;
    width: auto  
}


.page-body-services-row2-column1{
    margin: 2rem;
    background: rgba(0, 0, 0, 0.712);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.308), 0 2px 2px 0px rgba(0, 0, 0, 0.301);
    border: 0;
    border-radius: 1px;
    width: auto   
}
.page-body-services-row2-column2{
    margin: 2rem;
    background: rgba(0, 0, 0, 0.712);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.308), 0 2px 2px 0px rgba(0, 0, 0, 0.301);
    border: 0;
    border-radius: 1px;
    width: auto   
}
.page-body-services-row2-column3{
    margin: 2rem;
    background: rgba(0, 0, 0, 0.712);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.308), 0 2px 2px 0px rgba(0, 0, 0, 0.301);
    border: 0;
    border-radius: 1px;
    width: auto   
}
.page-footer{
    background-color: rgba(194, 194, 197, 0.879)
}
.page-footer address{
    margin-left: 10px;
    color:rgba(247, 173, 14)
}














